@{
    ViewBag.Title = "ApiTest";
}

<script type="text/javascript">
    $(document).ready(function() {
        $("button[name='btn_DirectSend']").on("click", function () {
            var id = $(this).data("id");
            var url = "";
            switch (id) {
                case 1:
                    url = "/ExternalApi/MSXMLType";
                    break;
                case 2:
                    url = "/ExternalApi/HttpWebRequestType";
                    break;
                case 3:
                    url = "/ExternalApi/WebClientType";
                    break;
                default:
                    break;
            }

            $.getJSON(url, function (data) {
                alert(data.result);
            });
        });
    });
</script>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">기술설명</th>
            <th scope="col">전송</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>MSXML</td>
            <td>
                <button type="button" name="btn_DirectSend" data-id="1" class="btn btn-primary">DirectSend_MSXML</button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>HttpWebRequest</td>
            <td>
                <button type="button" name="btn_DirectSend" data-id="2" class="btn btn-primary">DirectSend_MSXML</button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>WebClient</td>
            <td>
                <button type="button" name="btn_DirectSend" data-id="3" class="btn btn-primary">DirectSend_MSXML</button>
            </td>
        </tr>
    </tbody>
</table>