@{
    ViewBag.Title = "ApiTest";
}
<script type="text/javascript" src="~/Scripts/Api/DirectSendProc.js"></script>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=LLs9gfgAyO7hWou4hEhY&callback=initMap"></script>

<div class="tabContainer">
    <h2>Api 관련</h2>
    <ul id="apiTab" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a data-target="#directSend" id="directSend-tab" role="tab" data-toggle="tab" aria-controls="directSend" aria-expanded="true">DirectSend</a>
        </li>
        <li role="presentation" class="">
            <a data-target="#maps" id="maps-tab" role="tab" data-toggle="tab" aria-controls="maps" aria-expanded="false">Maps</a>
        </li>
    </ul>
    <div id="apiTabContent" class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="directSend" aria-labelledby="directSend-tab">
            @{Html.RenderAction("DirectSendView", "ExternalApi");}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="maps" aria-labelledby="maps-tab">
            @{Html.RenderAction("Maps", "ExternalApi");}
        </div>
    </div>
</div>